.logo {
    background-color: #fff;
    width: 40%;
    height: auto;
    border-radius: 0 0 40% 0;
}

.page_title {
    width: 60%;
    height: auto;
    color: #fff;
}

.sidebar {
    padding: 0px;
}

.product {
    background-color: #374050;
    color: #fff
}

.product form .prod {
    width: 70%;
}

.product form label {
    font-size: 11px;
}

.btn {
    background-color: #0fc5ff;
    color: #fff
}

.btn:hover {
    color: #fff
}

#addRow {
    cursor: pointer;
}

.trash, #close, #close_show, .edit {
    color: darkgray
}

.add_prod,#show_product {
    display: none;
}

.edit-trash a{
    font-size: 14px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.589);
}

#close, #close_show{
    font-size: 18px;
}

.prod_view{
    font-size:14px;
    color: darkgray;
    padding-bottom:100px;
}

.show{
    display:block;
}

.sel{
    border-bottom: 5px solid red;
}